@use "../util" as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: u.rem(40);
  // instead of:
  //max-width: 1000px;
  // padding-left: 20px;
  // padding-right: 20px;
  // do:
  width: min(
    100% - u.rem(40),
    u.rem(1000)
  ); //useful to get padding on both sides
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: hsl(240, 44%, 22%);

    @include u.breakpoint(medium) {
      background-color: green;
    }

    @include u.breakpoint(large) {
      background-color: orange;
    }
  }

  &__sidebar {
    @include u.breakpoint-down(medium) {
      text-align: center;
    }
    @include u.breakpoint-down(small) {
      text-align: right;
    }
  }

  &__widget {
    padding: u.rem(16);
    &.magenta {

      background-color: hsl(300, 69%, 21%);
    }

    &.green {

      background-color: hsl(120, 98%, 21%);
    }
  }
}